<div *ngIf="employee && user">
  <h1>Employee: {{employee.firstName}} {{employee.lastName}}</h1>
  <mat-tab-group>
    <mat-tab *ngIf="empReviews && user.roleType === ROLE_ADMIN" label="Employee Reviews"> 
      <table mat-table [dataSource]="empRevDataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="reviewee">
            <th mat-header-cell *matHeaderCellDef>Reviewee Full Name</th>
            <td mat-cell *matCellDef="let element">{{element.revieweeFullName}}</td>
        </ng-container>

        <ng-container matColumnDef="reviewer">
          <th mat-header-cell *matHeaderCellDef>Reviewer Full Name</th>
          <td mat-cell *matCellDef="let element">{{element.reviewerFullName}}</td>
        </ng-container>
      
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Review Status</th>
          <td mat-cell *matCellDef="let element">{{element.reviewStatus | keyValue: reviewMap}}</td>
        </ng-container>
      
        <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef>Update</th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" (click)="loadReviewUpdateDialog(element.id)">
              Update
            </button>
          </td>
        </ng-container>
      
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="warn" (click)="deleteReview(element.id, empRevDataSource.data)">
              Delete
            </button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="empRevColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: empRevColumns;"></tr>
      </table>
    </mat-tab>
    <mat-tab *ngIf="reviewerReviews" label="Employee submitted and pending reviews"> 
      <table mat-table [dataSource]="reviewerDataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="reviewee">
            <th mat-header-cell *matHeaderCellDef>Reviewee Full Name</th>
            <td mat-cell *matCellDef="let element">{{element.revieweeFullName}}</td>
        </ng-container>

        <ng-container matColumnDef="reviewer">
          <th mat-header-cell *matHeaderCellDef>Reviewer Full Name</th>
          <td mat-cell *matCellDef="let element">{{element.reviewerFullName}}</td>
        </ng-container>
      
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Review Status</th>
          <td mat-cell *matCellDef="let element">{{element.reviewStatus | keyValue: reviewMap}}</td>
        </ng-container>
      
        <ng-container matColumnDef="submit">
          <th mat-header-cell *matHeaderCellDef>Submit</th>
          <td mat-cell *matCellDef="let element">
            <!--only user with the same ID as an employee can submit-->
            <!-- also you can only submit if the status is pending-->
            <button mat-raised-button color="primary" *ngIf="user.id === employee.id && element.reviewStatus === REVIEW_STATUS_PENDING" (click)="loadReviewSubmitDialog(element.id)">
              Submit
            </button>
          </td>
        </ng-container>
      
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="warn" *ngIf="user.roleType === ROLE_ADMIN" (click)="deleteReview(element.id, reviewerDataSource.data)">
              Delete
            </button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="reviewerColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: reviewerColumns;"></tr>
      </table>
    </mat-tab>
  </mat-tab-group>
  
</div>

<p>following shows data</p>
<p>{{employee | json}}</p>
<p>employee reviews {{empReviews | json}}</p>
<p>reviewer reviews {{reviewerReviews | json}}</p>